@import url("../css/bootstrap.min.css");
@import url("../fonts/feather/feather.css");
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("../css/animate.css");

body {
  background-color: #fff;
  font-family: "Lato", sans-serif !important;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 32px;
}

p.big {
  font-size: 20px;
  line-height: 32px;
}

p.small {
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
}

h2 {
  font-size: 56px;
  line-height: 64px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
}

h4 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h5 {
  font-size: 14px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
}

label {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.2s;
  color: #000;
  font-size: 16px;
  line-height: 32px;

  &:hover {
    color: #000;
    text-decoration: none;
  }

  &:focus {
    outline: none;
    text-decoration: none;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 0;
}

.no-pointer-event {
  pointer-events: none;
}

// input[type="number"]::-webkit-outer-spin-button,
// input[type="number"]::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -moz-appearance: textfield;
// }

/*   normalize  */

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 1160px;
  }
}

@mixin btn-white {
  transition: all 0.8s;
  border: 1px solid rgba(0, 0, 0, 0.15);

  &:hover {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
  }
}

.btn.btn-primary {
  height: 48px !important;
  color: #fff !important;
  background-color: #000 !important;
  border-color: #000 !important;
  font-weight: 600 !important;
  border-radius: 12px !important;
  font-size: 16px;
  line-height: 19px;
  padding: 12px 15px 17px 15px;
  transition: all 0.8s;

  &:hover {
    background-color: #000;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
    transition: all 0.8s;
  }

  &:focus {
    background-color: #000;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-3px);
  }
}

.btn-pad-60 {
  padding: 12px 60px !important;
}

.btn-pad-45 {
  padding: 12px 45px !important;
}

.btn-full {
  width: 100%;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: cover;
  background-color: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.icon-plane {
  -webkit-mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  mask: url(../images/icon/telegram-plane.svg) no-repeat 50% 50%;
  width: 25px;
  height: 23px;
}

.custom-checkbox {
  padding-left: 30px;

  .custom-control-label {
    font-weight: 400;
    color: #333;
    font-size: 16px;
    line-height: 17px;

    &::before {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    &::after {
      top: 7px;
      width: 20px;
      height: 20px;
      left: -30px;
    }

    a {
      font-size: 16px;
      font-weight: 400;
      text-decoration: underline;
      color: #000;
    }
  }
}

.custom-control-input {
  &:checked {
    & ~ .custom-control-label {
      &::before {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}

/* ############################ header section ############################### */

.fixed-top {
  background-color: #fff !important;
  box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 70px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.header {
  height: 90px;
  position: relative;

  .col-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .col-30 {
      flex: 0 0 20%;
      max-width: 20%;
    }

    .col-70 {
      flex: 0 0 80%;
      max-width: 80%;
    }
  }

  .row-100 {
    width: 100%;
    margin: 0;

    .col-12 {
      padding: 0;
    }
  }

  .navbar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    height: 90px;
    background-color: transparent;
    white-space: nowrap;
    z-index: 999;
    // box-shadow: 0 7px 12px rgba(0, 0, 0, 0.02);
    // border-bottom: 1px solid rgba(236, 236, 236, 0.6);

    .navbar-brand {
      width: 142px;
      height: auto;

      img {
        width: 100%;
      }
    }

    .collapse1 {
      height: 100%;

      .navbar-nav {
        align-items: center;

        .nav-item {
          a {
            color: #000;
            font-size: 16px;
            line-height: 32px;
            padding: 8px 22px;
            font-weight: 400;
            transition: all 0.4s ease-in-out;

            &:hover {
              transition: all 0.4s ease-in-out;
              color: rgba(0, 0, 0, 0.7);
            }
          }

          a.active {
            transition: all 0.4s ease-in-out;
            color: rgba(0, 0, 0, 0.7);
          }
        }

        .nav-btn {
          padding-left: 80px !important;

          a.btn {
            font-size: 16px;
            min-height: 30px;
            line-height: 22px;
            border-radius: 4px;
            padding: 8px 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

/* menu responsive */

.navbar-expand-md .navbar-toggler {
  display: none;
}

.sidenav-new-menu .closebtn {
  display: none;
}

/* ############################## Home section ############################### */

.form-group {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    color: #333;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .form-control {
    border: 1px solid #dadada;
    height: 48px;
    background-color: #fff;
    font-size: 16px;
    box-shadow: none;
    outline: 0;
    padding: 14px 16px;
    border-radius: 12px;

    &:focus {
      border-color: #000;
      color: #000;
    }
  }
}

.input-group {
  .input-group-addon {
    position: absolute;
    right: 15px;
    top: 13px;
    z-index: 99;

    a {
      text-decoration: none;
      color: #727272;
    }

    i {
      font-size: 20px;
    }
  }

  .form-control {
    padding-right: 40px;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #000 !important;
  color: #fff;
}

.select2 {
  width: 100% !important;
}

.select2-container {
  border: 0;
}

.select2-container--default .select2-selection--single {
  outline: 0;
  height: 48px !important;
  border: 1px solid #dadada !important;
  border-radius: 12px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  border: 0 solid #dadada;
  height: 46px;
  background-color: #fff;
  border-radius: 12px;
  font-size: 16px;
  line-height: 48px !important;
  font-weight: 500;
  padding-left: 20px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 48px !important;
  width: 30px !important;
 b {
  border-color: #333 transparent transparent transparent !important;
 }
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #333 transparent !important;
  border-width: 0 4px 5px 4px;
}

/*  middle section start here */

.inner-page {
  padding-top: 0;
}

.middle-section {
  height: auto;

  .home-banner-section {
    padding: 100px 0 50px 0;
    background-color: #fff;
    // min-height: calc(100vh - 0);
    height: auto;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -240px;
      right: -200px;
      background-image: url("../images/bg-home-banner.png");
      background-size: cover;
      display: block;
      height: 1053px;
      width: 1890px;
      z-index: 1;
      zoom: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: -165px;
      left: -180px;
      background-image: url("../images/bg-home-banner-3.png");
      background-size: cover;
      background-position: center;
      display: block;
      height: 608px;
      width: 570px;
      z-index: 1;
    }

    .home-banner-inner {
      padding: 60px 0 0 0;
    }

    .banner-caption {
      padding: 40px 0 0 0;
      margin-bottom: 30px;
      position: relative;
      z-index: 7;

      h3 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 32px;
      }

      h2 {
        font-size: 60px;
        line-height: 72px;
        margin-bottom: 48px;

        .block {
          width: 100%;
          display: block;
        }
      }
    }

    .banner-box {
      padding: 40px 100px 0 150px;
      margin-bottom: 130px;

      .banner-box-inner {
        position: relative;

        .box-cycle {
          position: absolute;
          right: -100px;
          top: 0;
          z-index: 7;
          height: 176px;
          width: 170px;
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
          border-radius: 12px;
        }

        .box-map-pin {
          position: absolute;
          right: -30px;
          bottom: -30px;
          z-index: 7;
          height: 80px;
          width: 80px;
          border-radius: 100%;
          overflow: hidden;
          box-shadow: 5px 10px 30px 0 rgba(138, 138, 138, 0.15);

          a {
            display: block;
            height: 100%;
            width: 100%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .box-helmet {
          position: absolute;
          left: -130px;
          bottom: -120px;
          z-index: 5;
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
          width: 270px;
          height: 224px;
          border-radius: 12px;
        }
      }

      .banner-img {
        width: 100%;
        height: auto;
        object-fit: cover;
        position: relative;

        img {
          position: relative;
          z-index: 5;
          height: 100%;
          width: 100%;
          object-fit: cover;
          border-radius: 12px;
          box-shadow: 10px 20px 40px 0 rgba(7, 57, 0, 0.2);
        }

        &::after {
          content: "";
          position: absolute;
          bottom: 80px;
          right: -50px;
          background-image: url(../images/shap-2.svg);
          background-size: contain;
          background-position: center;
          display: block;
          height: 52px;
          width: 188px;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          z-index: 6;
        }

        &::before {
          content: "";
          position: absolute;
          top: -40px;
          left: -80px;
          background-image: url(../images/shap-1.svg);
          background-size: contain;
          background-position: center;
          display: block;
          height: 116px;
          width: 188px;
          z-index: 1;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }
      }
    }

    .social-media {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      position: relative;
      z-index: 9;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          a {
            width: 48px;
            height: 48px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            background-color: #000;
            border: 1px solid rgba(180, 180, 180, 0.26);
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            font-size: 18px;

            &:hover {
              transition: all 0.5s ease-in-out;
              color: #000;
              background-color: #fafafa;
            }
          }
        }
      }
    }
  }

  .connecting-section {
    padding: 130px 0 77px 0;
    background-color: #fafafa;

    .heading {
      margin-bottom: 130px;

      h2 {
        font-size: 48px;
        line-height: 64px;
        text-align: center;
      }
    }
  }

  .learn-how-section {
    padding: 195px 0 240px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 200px;
      right: -80px;
      background-image: url(../images/circle-1.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 238px;
      width: 234px;
      z-index: 1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -170px;
      left: -260px;
      background-image: url(../images/patter-owl.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 436px;
      width: 436px;
      z-index: 1;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
    }

    .learn-feature-img {
      position: relative;

      .box-map {
        position: absolute;
        right: -120px;
        top: 106px;
        z-index: 7;
      }

      .box-coffee {
        position: absolute;
        left: -50px;
        bottom: 20px;
        z-index: 7;
      }
    }

    .learn-how-img {
      padding: 0 90px 0 40px;
      margin: 0 auto;
      text-align: center;
      position: relative;

      img {
        object-fit: cover;
        width: 100%;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50px;
        left: -20px;
        background-image: url(../images/shap-1.svg);
        background-size: contain;
        background-position: center;
        display: block;
        height: 116px;
        width: 188px;
        z-index: 1;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
      }
    }

    .learn-how-text {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      height: 100%;

      .content {
        padding: 0 100px;

        h2 {
          font-size: 48px;
          line-height: 58px;
        }

        p {
          color: rgba(51, 51, 51, 0.5);
        }
      }
    }
  }

  .app-store-section {
    background-color: #000;
    padding: 25px 0 0 0;
    overflow: hidden;

    .store-content {
      max-width: 300px;

      .logo-app {
        margin: 5px 0 10px 0;
        width: 167px;
        height: auto;
        margin-bottom: 10px;

        img {
          width: 100%;
        }
      }

      h2 {
        font-size: 48px;
        line-height: 64px;
        color: #fff;
        margin-bottom: 33px;

        span {
          display: block;
        }
      }

      .download-app {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        // a.g-play {
        //   width: 160px;
        //   height: auto;
        // }

        // a.app-store {
        //   width: 143px;
        //   height: auto;
        // }

        a {
          display: block;
          margin-right: 10px;

          img {
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }

    .app-images {
      .app-image-inner {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          bottom: -180px;
          left: 0;
          background-image: url(../images/pattern-owl-2.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          height: 238px;
          width: 234px;
          z-index: 1;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }
      }

      .app-mobile {
        max-width: 354px;
        margin: 0 auto;

        img {
          width: 100%;
          z-index: 2;
          position: relative;
        }
        position: relative;

        &::after {
          content: "";
          position: absolute;
          top: 80px;
          left: -80px;
          background-image: url(../images/shape-white.svg);
          background-size: contain;
          background-position: center;
          display: block;
          height: 116px;
          width: 188px;
          z-index: 1;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: 23px;
          right: -110px;
          background-image: url(../images/circle-2.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
          height: 238px;
          width: 234px;
          z-index: 1;
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
        }
      }
    }
  }

  .page-heading-section {
    padding-top: 145px;
    padding-bottom: 25px;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: -165px;
      left: -180px;
      background-image: url(../images/bg-home-banner-3.png);
      background-size: cover;
      background-position: center;
      display: block;
      height: 608px;
      width: 570px;
      z-index: 1;
    }

    .heading {
      h2 {
        font-size: 48px;
        color: #000;
        line-height: 80px;
        text-align: center;
      }
    }
  }

  .submit-form-section {
    padding: 90px 0 90px 0;
    background-color: #fff;
    overflow: hidden;

    .form-conatiner {
      background-color: #f7f7f7;
      border-radius: 12px;
      padding: 115px 50px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 35%;
        left: -80px;
        background-image: url(../images/shap-1.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: 116px;
        width: 188px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        z-index: 6;
      }

      .filtter-box {
        position: absolute;
        top: 170px;
        left: -65px;
        width: 138px;
        height: 128px;
        box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
      }

      .map-box {
        position: absolute;
        top: 45%;
        right: -85px;
        width: 170px;
        height: 160px;
        box-shadow: 10px 20px 40px 0 rgba(90, 17, 0, 0.2);
      }

      .form-heading {
        text-align: center;
        margin-bottom: 60px;

        h2 {
          font-size: 48px;
          line-height: 64px;
          margin-bottom: 22px;
          color: #000;
        }

        p {
          color: rgba(51, 51, 51, 0.5);
        }
      }

      .form-body{
        .form-group {
          label {
            color: #333;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 800;
          }
          .form-control {
           
          }
        }
      }
      

      .terms {
        margin-bottom: 30px;
      }
    }
  }

  .what-you-get-section {
    padding: 60px 0;
    background-color: #fff;
    position: relative;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      bottom: -50px;
      left: -160px;
      background-image: url(../images/ring-pattern.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
      height: 218px;
      width: 218px;
      z-index: 1;
      transition: all 0.5s;
    }

    .heading {
      text-align: center;
      margin-bottom: 53px;

      h2 {
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 22px;
        color: #000;
      }

      p {
        color: rgba(51, 51, 51, 0.5);
      }
    }

    .featuredbox {
      padding: 32px;
      background-color: #f7f7f7;
      border-radius: 8px;
      margin-bottom: 20px;

      .featured-icon {
        background: #000;
        border-radius: 8px;
        height: 96px;
        width: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin-bottom: 26px;

        img {
          width: 100%;
        }
      }

      h3 {
        color: #333;
        margin-bottom: 22px;
        font-size: 24px;
        line-height: 32px;
        min-height: 64px;
      }

      p {
        color: rgba(51, 51, 51, 0.5);
      }
    }
  }
}

.modal-custom {
  .modal-dialog {
    max-width: 1200px !important;
    border-radius: 0;

    .modal-content {
      border-radius: 0;
    }

    .modal-body {
      padding: 0;

      .row-0 {
        margin: 0;

        .pad-0 {
          padding: 0;
        }
      }

      .info-section {
        background-color: #000;
        padding: 81px 80px 100px 160px;
        height: 100%;

        .back-btn {
          display: none;
        }

        .info-header {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          margin-bottom: 30px;

          .header-profile {
            margin-right: 10px;

            img {
              height: 30px;
              width: 30px;
              object-fit: cover;
            }
          }

          p {
            color: #fff;
            margin-bottom: 0;
          }
        }

        .info-body {
          h3 {
            color: #fff;
            font-size: 16px;
            font-weight: 600;
            line-height: 19px;
            margin-bottom: 5px;
          }

          .price {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            margin-bottom: 35px;

            h2 {
              font-size: 36px;
              line-height: 44px;
              color: #fff;
              letter-spacing: 0.9px;
              margin-right: 35px;
              margin-bottom: 0;
            }

            p {
              color: #fff;
              margin-bottom: 0;
              font-size: 16px;
              line-height: 19px;

              span {
                display: block;
                margin-bottom: 0;
              }
            }
          }

          .product-details {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: row;
            width: 100%;

            .product-img {
              height: 43px;
              min-width: 43px;
              width: 43px;
              border-radius: 4px;
              overflow: hidden;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .product-content {
              width: 100%;
              padding: 0 20px;

              .product-total {
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                margin-bottom: 30px;

                h3 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 600;
                }

                p {
                  color: rgba(255, 255, 255, 0.5);
                  line-height: 19px;
                  font-size: 14px;
                  margin-bottom: 0;
                }
              }

              .product-subtotal {
                padding: 0 0 12px 0;
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                h3 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 600;
                }
              }

              .sale-tax {
                padding: 0 0 12px 0;
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                h3 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 600;
                }
              }

              .tax-due {
                padding: 20px 0;
                width: 100%;
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                h3 {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  width: 100%;
                  font-size: 16px;
                  line-height: 19px;
                  font-weight: 600;
                }
              }

              .promocode {
                padding: 20px 0;

                .form-group {
                  margin-bottom: 0;

                  .form-control {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 4px;
                    outline: none;
                    border: 0;
                    color: #fff;
                    max-width: 165px;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.35px;

                    &::placeholder {
                      color: rgba(255, 255, 255, 0.5);
                    }
                  }
                }
              }
            }
          }
        }
      }

      .payment-section {
        background-color: #fff;
        padding: 27px 155px 10px 70px;

        .apple-pay {
          width: 100%;
          margin-bottom: 35px;

          a {
            font-size: 18px;
            line-height: 24px;

            i {
              color: #fff;
            }
          }
        }

        .or-text {
          width: 100%;
          text-align: center;
          position: relative;
          display: block;

          span {
            background-color: #fff;
            z-index: 2;
            padding: 5px 5px;
            position: relative;
            color: rgba(51, 51, 51, 0.5);
          }

          &::before {
            position: absolute;
            content: "";
            height: 1px;
            width: 100%;
            left: 0;
            right: 0;
            top: 18px;
            background-color: rgba(51, 51, 51, 0.2);
            z-index: 0;
          }
        }

        .bg-cvv{
          position: relative;

          &::before {
            content: '';
            background-image: url('../images/cvv.png');
            background-repeat: no-repeat;
            background-size: contain;
            display: block;
            position: absolute;
            right: 10px;
            top: 13px;
            width: 32px;
            height: 20px;
            z-index: 99;
          }
        }

        .pay-with-card {
          .form-group {
            .form-control {
              &:focus {
                border-color: #dadada;
              }
            }
          }

          

          .group-card {
            display: flex;
            flex-direction: column;
            position: relative;
            
            .card-place {
              position: absolute;
              right: 8px;
              top: 8px;
              display: flex;

              a {
                width: 32px;
                height: 22px;
                display: block;
                margin-right: 3px;
              }
            }

            .form-control {
              border-radius: 10px 10px 0 0;
            }

            .group-control {
              display: flex;
              flex-direction: row;
              margin-top: -1px;

              .form-control {
                border-radius: 0 0 10px 10px;

                &:first-child {
                  border-radius: 0 0 0 10px;
                  margin-right: -1px;
                }

                &:last-child {
                  border-radius: 0 0 10px 0;
                }
              }
            }
          }

          .address-group {
            display: flex;
            flex-direction: column;

            .form-control {
              border-radius: 10px 10px 0 0;
            }

            .group-control {
              display: flex;
              flex-direction: row;
              margin-top: -1px;

              .form-control {
                border-radius: 0 0 0 0;
              }
            }
          }

          .select-country {
            .select2-container--default .select2-selection--single .select2-selection__rendered {
              border-radius: 12px 12px 0 0;
            }

            .select2-container--default .select2-selection--single {
              border-radius: 12px 12px 0 0 !important;
            }
          }

          .select-state {
            margin-top: -1px;

            .select2-container--default .select2-selection--single .select2-selection__rendered {
              border-radius: 0 0 12px 12px;
            }

            .select2-container--default .select2-selection--single {
              border-radius: 0 0 12px 12px !important;
            }
          }

          .subscribe {
            margin-bottom: 15px;
          }

          .note {
            p {
              color: rgba(51, 51, 51, 0.8);
              font-size: 14px;
              line-height: 22px;
              text-align: center;
            }
          }
        }
      }

      // thank you

      .thankyou-box {
        padding: 100px 0;
        max-width: 485px;
        text-align: center;
        margin: 0 auto;

        .img-box {
          width: 100%;
          height: 300px;
          margin-bottom: 60px;

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .content {
          max-width: 380px;
          text-align: center;
          margin: 0 auto 90px auto;

          h3 {
            font-size: 28px;
            line-height: 34px;
            color: #000;
            letter-spacing: 0.35px;
            font-weight: 700;
            margin-bottom: 18px;
          }

          p {
            color: #939393;
            font-size: 20px;
            line-height: 32px;
          }
        }

        .go-home {
          max-width: 380px;
          margin: 0 auto;
        }
      }
    }
  }
}

// @media (min-width: 1600px) {
//   .middle-section {
//     .home-banner-section {
//       margin: 0 auto;
//       max-width: 1600px;

//       &::before {
//         top: -160px;
//         left: -73px;
//       }
//     }
//   }
// }

/*  middle section end here */

.footer-section {
  padding: 58px 0 0 0;
  background-color: #000;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  hr {
    margin: 30px 0 0 0;
    border-color: rgba(255, 255, 255, 0.2);
  }

  .footer-line-one {
    border-color: rgba(226, 226, 226, 0.21);
    margin: 0 0 40px 0;
  }

  .footer-content-logo {
    .logo-footer {
      margin-bottom: 40px;
      margin-top: 10px;

      img {
        width: 137px;
        height: auto;
        object-fit: cover;
        margin-left: -3px;
      }
    }

    .social-media {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      margin-bottom: 55px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
          display: inline-block;
          margin-right: 5px;
          width: auto;

          &:last-child {
            margin-right: 0;
          }

          a {
            width: 48px;
            height: 48px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #000;
            background-color: #fff;
            border: 1px solid rgba(180, 180, 180, 0.26);
            text-decoration: none;
            transition: all 0.5s ease-in-out;
            font-size: 18px;

            &:hover {
              transition: all 0.5s ease-in-out;
              color: #fff;
              background-color: #000;
            }
          }
        }
      }
    }

    p {
      width: 170px;
    }
  }

  .footer-content-link {
    padding: 20px 0 0 0;
  }

  .footer-content {
    margin-bottom: 20px;

    h3 {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      color: #fff;
      text-transform: uppercase;
      margin-bottom: 45px;
    }

    p {
      font-size: 12px;
      line-height: 21px;
      font-weight: 400;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        font-size: 16px;
        line-height: 28px;
        display: inline-block;
        width: 32%;

        a {
          display: block;
          color: #fff;
          font-size: 16px;
          line-height: 32px;
          text-decoration: none;
          transition: all 0.5s ease-in-out;

          &:hover {
            transition: all 0.5s ease-in-out;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    .singup-div {
      .form-control {
        border-radius: 12px;
      }
    }
  }

  .copy-right-text {
    padding: 40px 0;

    .pay-card {
      li {
        display: inline-block;
        margin-right: 10px;

        a {
          img {
            width: 24px;
            height: auto;
            object-fit: cover;
          }
        }
      }
    }

    .footer-links-bottom {
      width: auto;

      li {
        padding: 0 24px;
        display: inline-block;

        a {
          color: #fff;

          &:hover {
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }

    p {
      font-size: 14px;
      font-weight: 500;
      line-height: 26px;
      margin-bottom: 0;
      color: rgba(255, 255, 255, 0.5);
      margin-left: 22px;
    }

    .footer-bottom {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

/* ###########################################################################
############################## media query started ###############################
###################################################################################### */

@media (max-width: 320px) {
  .middle-section {
    section.home-banner-section {
      &::before {
        left: -323px;
      }

      .home-banner-inner {
        padding: 30px 0 0 0;

        .banner-caption {
          margin-bottom: 80px;

          h3 {
            margin-bottom: 16px;
            font-size: 45px;
            line-height: 56px;
          }

          h2 {
            margin-bottom: 70px;
            font-size: 48px;
            line-height: 60px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .header {
    .navbar {
      padding: 15px 0;
      z-index: 999;
      height: 75px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 128px;
        height: auto;
        padding: 0;
        position: relative;
        z-index: 9;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          .nav-item {
            padding: 0 20px;

            a {
              color: #000;
              padding: 8px 12px;
              font-weight: 600;
              font-size: 16px;

              &:hover {
                color: rgba(0, 0, 0, 0.4);
              }

              &.active {
                color: rgba(0, 0, 0, 0.4);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;
            // .btn.btn {
            //   background-color: #fff !important;
            //   color: #000 !important;
            // }
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -24px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 48px;
          width: 48px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 70%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  /* middle section start here */

  .middle-section {
    .home-banner-section {
      &::before {
        left: -337px;
      }

      &::after {
        display: none;
      }

      .home-banner-inner {
        padding: 30px 0 0 0;

        .banner-caption {
          margin-bottom: 78px;

          h3 {
            margin-bottom: 16px;
          }

          h2 {
            margin-bottom: 100px;
            font-size: 56px;
          }
        }

        .banner-box {
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 150px;

          .banner-box-inner {
            .box-cycle {
              width: 96px;
              height: 99px;
              right: -65px;
              top: -20px;
            }

            .box-helmet {
              width: 152px;
              height: 126px;
              left: -80px;
              bottom: -60px;
            }

            .box-map-pin {
              width: 45px;
              height: 45px;
              right: -23px;
              bottom: -23px;
            }
          }

          .banner-img {
            width: 210px;
            height: 245px;

            &::after {
              height: 29px;
              width: 106px;
              bottom: 35px;
              right: -22px;
            }

            &::before {
              height: 64px;
              width: 116px;
              top: -25px;
              left: -40px;
            }
          }
        }
      }
    }

    .connecting-section {
      padding: 135px 0 0 0;

      .heading {
        margin-bottom: 28px;

        h2 {
          font-size: 36px;
          line-height: 44px;
        }
      }
    }

    .learn-how-section {
      padding: 65px 0 180px 0;

      &::before {
        top: 350px;
        right: -100px;
        background-image: url(../images/circle-black-2.svg);
      }

      &::after {
        bottom: -286px;
        left: -340px;
      }

      .learn-how-img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 60px 0 40px;

        &::before {
          height: 64px;
          width: 116px;
          top: 30px;
          left: 10px;
        }

        .learn-feature-img {
          .lern-how-inner {
            width: 250px;
            height: 260px;
            &::after {
              top: 40px;
              left: -40px;
            }
          }

          .box-map {
            width: 95px;
            height: 90px;
            top: 60px;
            right: -55px;
          }

          .box-coffee {
            width: 76px;
            height: 71px;
            left: -30px;
          }
        }
      }

      .learn-how-text {
        padding-top: 150px;

        .content {
          padding: 0 0;
          max-width: 243px;

          h2 {
            font-size: 36px;
            line-height: 44px;
          }
        }
      }
    }

    .app-store-section {
      .store-content {
        max-width: unset;

        .logo-app {
          width: 105px;
        }

        h2 {
          font-size: 40px;
          line-height: 48px;
          margin-bottom: 30px;
          max-width: 330px;
        }

        .download-app {
          width: 100%;
          margin-bottom: 40px;

          a.app-store {
            width: 143px;
          }
        }
      }

      .app-images {
        .app-mobile {
          &::after {
            height: 70px;
            width: 120px;
          }

          &::before {
            right: -140px;
          }
        }
      }
    }

    .page-heading-section {
      &::before {
        left: -337px;
      }

      .heading {
        h2 {
          font-size: 56px;
          color: #000;
          line-height: 64px;
          text-align: left;
        }
      }
    }

    .submit-form-section .form-conatiner {
      padding: 100px 20px;

      &::after {
        display: none;
      }

      .map-box {
        display: none;
      }

      .filtter-box {
        display: none;
      }
    }
  }

  .footer-section {
    padding-top: 90px;

    .footer-content-logo {
      p {
        width: 100%;
      }
    }

    .social-media {
      margin-bottom: 55px;
    }

    .footer-content ul li {
      width: 48%;
    }

    .footer-content-link {
      padding: 20px 0 0 0;
    }

    .singup-div {
      margin-bottom: 50px;
    }

    .pay-card {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
    }

    .footer-bottom {
      flex-direction: column;

      ul {
        margin-bottom: 30px;
      }

      p {
        margin-left: 0;
      }
    }
  }

  //  modal

  .modal-custom {
    .modal-dialog {
      margin: 0;

      .modal-body {

        .payment-section .pay-with-card .group-card {
          .card-place {
           display: none;
          }
        }

        .info-section {
          padding: 32px 30px;

          .back-btn {
            display: block;
            margin-right: 20px;

            a {
              font-size: 14px;
              color: #fff;
            }
          }

          .subscribe-plan {
            position: absolute;
            top: 200px;
            left: 0;
          }

          .info-body {
            position: relative;

            .product-details {
              flex-direction: column;
              padding: 0;

              .product-img {
                height: 120px;
                width: 120px;
                min-width: 120px;
                min-height: 120px;
                margin: 30px auto 150px auto;
                text-align: center;
              }

              .product-content {
                padding: 0;

                .promocode {
                  .form-group {
                    .form-control {
                      max-width: unset;
                    }
                  }
                }
              }
            }
          }
        }

        .payment-section {
          padding: 30px 30px;
        }

        // thank you

        .thankyou-box {
          height: 100vh;
          padding: 0;
          margin: 0;
          max-width: unset;

          .img-box {
            margin-bottom: 60px;
            height: auto;
          }

          .content {
            max-width: unset;
            padding: 0 50px;

            h3 {
              font-size: 24px;
              line-height: 29px;
            }
          }

          .go-home {
            max-width: unset;
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 996px) {
  // no css

  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 8px;
    white-space: nowrap;
  }

  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 30px !important;

    a.btn {
      padding: 12px 20px !important;
    }
  }
}

@media (min-width: 996px) and (max-width: 1024px) {
  .header .navbar .collapse1 .navbar-nav .nav-item a {
    font-size: 16px;
    padding: 8px 15px;
  }

  .header .navbar .collapse1 .navbar-nav .nav-item.nav-btn {
    padding-left: 40px !important;

    a {
      padding: 12px 60px !important;
    }
  }
}

/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      padding: 8px 0;
      z-index: 999;
      height: 70px;

      .row-100 {
        .col-12 {
          padding: 0 15px;
        }
      }

      .col-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .col-30 {
          flex: 0 0 20%;
          max-width: 20%;
        }

        .col-70 {
          flex: 0 0 80%;
          max-width: 80%;
        }
      }

      .navbar-brand {
        width: 142px;
        height: auto;

        img {
          width: 100%;
        }
      }

      .navbar-collapse {
        padding: 10px 0;

        .navbar-nav {
          flex-direction: column !important;
          margin-left: 0 !important;
          width: 100%;

          .nav-item {
            padding: 0 20px;

            a {
              color: #000;
              padding: 8px 12px;
              font-weight: 600;
              font-size: 16px;
              white-space: nowrap;

              &:hover {
                color: rgba(0, 0, 0, 0.4);
              }

              &.active {
                color: rgba(0, 0, 0, 0.4);
              }
            }
          }

          .nav-btn {
            padding-left: 22px !important;
          }
        }
      }

      .navbar-toggler {
        color: #fff;
        padding: 0;
        outline: 0;
        position: absolute;
        right: 15px;
        top: -17px;
        border: 0;
        display: block;

        .navbar-toggler-icon {
          background-color: transparent;
          background-image: url("../../assets/images/menubar.png");
          background-repeat: no-repeat;
          background-size: contain;
          height: 35px;
          width: 35px;
          border: 0;
        }
      }
    }
  }

  #cd-shadow-layer {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: none;
    z-index: 99999;
  }

  .sidenav-new-menu {
    height: 100%;
    min-height: 100vh;
    width: 0;
    position: fixed;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 999999;
    background-color: #fff;
    padding: 40px 0 20px 0 !important;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    right: -400px;
  }

  .width-menu {
    // width: 35%;
    right: 0;
    display: block !important;
  }

  .closebtn {
    display: block !important;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }

  // middle section

  .middle-section {
    .home-banner-section {
      &::after {
        zoom: 80%;
      }

      .banner-caption {
        max-width: 400px;
        margin: 0 auto 100px auto;
      }

      .banner-box {
        margin: 0 80px;
        margin-bottom: 160px;
      }
    }

    .learn-how-section {
      &::before {
        top: auto;
        bottom: 280px;
      }

      .learn-how-img {
        margin: 0 80px;
      }

      .learn-how-text {
        padding-top: 150px;
      }
    }

    .app-store-section .store-content {
      max-width: 600px;
      margin: 0 auto 50px auto;
    }
  }

  .middle-section .what-you-get-section .featuredbox h3 {
    min-height: 0;
  }

  .middle-section .submit-form-section .form-conatiner {
    margin: 0 100px;
  }

  .footer-section {
    .footer-content ul li {
      width: 49%;
    }

    .social-media {
      margin-top: 30px;
    }
  }

  .modal-custom {
    .modal-dialog {
      margin: 20px 20px;

      .modal-body {
        .info-section {
          padding: 50px 70px;

          .back-btn {
            display: block;
            margin-right: 20px;

            a {
              font-size: 14px;
              color: #fff;
            }
          }

          .subscribe-plan {
            position: absolute;
            top: 200px;
            left: 0;
          }

          .info-body {
            position: relative;

            .product-details {
              flex-direction: column;
              padding: 0;

              .product-img {
                height: 120px;
                width: 120px;
                min-width: 120px;
                min-height: 120px;
                margin: 30px auto 150px auto;
                text-align: center;
              }

              .product-content {
                padding: 0;

                .promocode {
                  .form-group {
                    .form-control {
                      max-width: unset;
                    }
                  }
                }
              }
            }
          }
        }

        .payment-section {
          padding: 50px 70px;
        }
      }
    }
  }
}

/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    .navbar {
      .collapse1 {
        .navbar-nav {
          .nav-item {
            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 22px;
              padding: 8px 15px;
            }
          }

          .nav-item.nav-btn {
            padding-left: 10px !important;
          }
        }
      }
    }
  }

  .middle-section {
    .home-banner-section {
      &::after {
        zoom: 72%;
      }
    }
  }

  .footer-section {
    .social-media {
      margin-top: 30px;
    }
  }

  .modal-custom {
    .modal-dialog {
      margin: 20px 20px;

      .modal-body {
        .info-section {
          padding: 50px 70px;
        }

        .payment-section {
          padding: 50px 70px;
        }
      }
    }
  }
}

/* ----------- iPad Pro ----------- */

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .middle-section .home-banner-section .banner-box {
    margin: 0 0 130px 0;
  }

  .middle-section {
    .home-banner-section {
      &::after {
        zoom: 95%;
      }
    }
  }
  /* ----------- No css ----------- */
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  /* ----------- No css ----------- */

  .middle-section .home-banner-section .banner-box {
    margin: 0;
  }

  .middle-section .learn-how-section {
    .learn-how-img {
      margin: 0;
    }

    .learn-how-text {
      padding-top: 0;
    }
  }

  .middle-section .what-you-get-section .featuredbox h3 {
    min-height: 64px;
  }
}
